@charset "UTF-8";
/* "Baloo Bhai 2", system-ui */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

:root {
  --black: #000000;
  --blue-300: rgb(177, 232, 238);
  --blue-500: rgb(18, 163, 180);
  --gray-300: #fffdfd;
  --gray-400: #d9d9d9;
  --gray-500: rgba(221, 221, 221, 0.615);
  --gray-700: #313336;
  --gray-shadow: #0000007e;
  --green-300: rgb(200, 236, 168);
  --green-500: rgb(118, 187, 57);
  --green-700: #30cd0d;
  --orange-500: #fa6e0a;
  --red-300: rgb(243, 156, 146);
  --red-500: rgb(206, 64, 48);
  --yellow-300: rgb(254, 236, 166);
  --yellow-500: rgb(215, 154, 13);
  --white: #ffffff;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", system-ui;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 9.6rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  background-color: var(--gray-700);
  color: var(--gray-300);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #contato {
  display: flex;
  padding: 0 40px;
  gap: 20px;
}
header #contato img {
  width: 56px;
  height: 56px;
  padding: 2px;
  border: solid var(--orange-500) 2px;
  border-radius: 50%;
}
header #contato div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #contato div #nome {
  font-size: 1.5em;
  font-weight: bolder;
}
header #contato div #email {
  font-size: 1.5em;
}
nav {
  display: flex;
  padding: 0 40px;
  gap: 20px;
  font-size: 2em;
  font-weight: 100;
}
nav div a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--gray-300);
}
nav div a #img-task {
  width: 16px;
}
nav div a #img-project {
  width: 20px;
}
main {
  margin: 8rem 0 0;
  padding: 1.6rem 0.8rem;
}
.sections {
  width: 100%;
  width: 100%;
  padding: 35px 2vw 20px 2vw;
  background-color: var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  margin: 10px 5px;
  box-shadow: 1px 1px 40px var(--gray-400);
}
h2 {
  font-size: 3em;
}
main .sections #header-section-projects #computers {
  display: flex;
  gap: 3px;
  align-items: center;
}
main .sections #header-section-projects #computers img {
  width: 26px;
  height: 26px;
  padding: 5px;
}
main .sections #header-section-projects #computers img:hover {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.focused {
  background-color: var(--orange-500);
  border-radius: 50%;
  box-shadow: 0px 0px 8px var(--gray-shadow);
}
main .sections #header-section-projects p {
  font-size: 2em;
}
main table {
  border-collapse: collapse;
}
main table * {
  font-size: 1.4rem;
}
main table thead {
  background-color: var(--gray-400);
}
th,
td {
  padding: 1.6rem;
  text-align: left;
}
th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}
/*FIXME: corrigir padding da class tag*/
.tag {
  padding: 0.4rem 1.2rem;
  border-radius: 30px;
  font-weight: 700;
}

.desenvolvendo {
  background-color: var(--yellow-300);
  color: var(--yellow-500);
}
.concluido {
  background-color: var(--green-300);
  color: var(--green-500);
}
.congelado {
  background-color: var(--blue-300);
  color: var(--blue-500);
}
.atrasado {
  background-color: var(--red-300);
  color: var(--red-500);
}
#section-project {
  width: 100%;
}
main form,
main table {
  margin: 0 auto;
  width: 100%; /* Ensure full width within section */
}
main form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
main form input,
select {
  border: solid 2px var(--black);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.8rem;
}
main form button {
  padding: 10px;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
}
main form button:disabled {
  cursor: not-allowed;
  color: var(--gray-300);
  text-shadow: 1px 1px 1px var(--gray-shadow);
}

#add-tasks {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
#add-tasks div {
  border-bottom: 1px solid var(--gray-400);
}
#submit-form-tasks {
  display: flex;
}

@media (min-width: 632px) {
  main form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  main form button {
    grid-column-end: span 2;
  }
}
